article {
  margin-top: 40px;
  border: solid;
  margin-right: 5%;
  margin-left: 5%;
  height: 200px;
  padding: auto;
}
.username {
  float: left;
  margin: 0;
  margin-top: 1%;
}
#text-second{
  width: 90%;
  border-style: none;
  border-bottom-style: groove;
  margin-top: 5.5%;
  margin-right: 6%;
  margin-left: 6%;
  text-align: left;
  color: #c7d8bc;;
}
.avatar {
  float: left;
  margin: 0;
  margin-left: 5%;
  margin-top: 1%;
}
.handle{
  float: right;
  margin: 0;
  margin-right: 5%;
  margin-top: 1%;
}
.dayago{
  float: left;
  margin: 0;
  margin-left: 5%;
  margin-top: 0.5%;
  }
.icons{
  float: right;
  margin: 0;
  margin-right: 5%;
  margin-top: 0.5%;
}
span.flag:hover{
  color: rgba(150, 175, 5, 0.651);
}
span.rotate:hover{
  color: rgba(150, 175, 5, 0.651);
}
span.heart:hover{
  color: rgba(150, 175, 5, 0.651);
}
@media only screen and (min-width:768px) and (max-width:1024px) {
  .dayago , .icons{
    margin-top: 4%;
  }
  #text-second {
  margin-top: 8%;
  margin-right: 13%;
  margin-left: 7%;
  }
}
@media only screen and (min-width:481px) and (max-width:768px) {
  .dayago , .icons{
    margin-top: 6%;
  }
  #text-second {
  margin-top: 12%;
  margin-right: 14%;
  margin-left: 5%;
  }
}
@media only screen and (min-width:320px) and (max-width:480px) {
  .dayago , .icons{
    margin-top: 9%;
  }
  #text-second {
  margin-top: 16%;
  margin-right: 15%;
  margin-left: 3%;
  }
}

