.article {
  margin-top: 40px;
  border: solid;
  margin-right: 5%;
  margin-left: 5%;
  height: 200px;
}


#text-second{
  width: 90%;
  border-style: none;
  border-bottom-style: groove;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
}
.avatar {
  float: left;
  margin: 0;
  margin-left: 5%;
  margin-top: 1%;
}
.handle{
  float: right;
  margin: 0;
  margin-right: 5%;
  margin-top: 1%;
}
.dayago{
  float: left;
  margin: 0;
  margin-left: 5%;
  }
.icons{
  float: right;
  margin: 0;
  margin-right: 5%;
}
span.flag:hover{
  color: rgba(150, 175, 5, 0.651);
}
span.rotate:hover{
  color: rgba(150, 175, 5, 0.651);
}
span.heart:hover{
  color: rgba(150, 175, 5, 0.651);
}