.parent {
  height: 400px;
  width: 100%;
  background-color: #163800;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* .header {
  display: flex;
  justify-content: center;
} */
.child1 {
padding-top: 4em;
height: 250px;
display: flex;
justify-content: center;
color: #aa8c15;

}

.child2 {
color:  #e2d086;
font-size: 18px;
display: flex;
justify-content: center;
}