nav {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #aa8c15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#tw {
  color: #183153;
  font-family: Bungee;
  padding: 1.5em;
  font-size: 24px; 
}
#Write {
  color: #FFFFFF;
}

#newTw{
  color: #183153;
  font-size: 18px;
  padding: 1.5em;
}
#arrow {
  color: red;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width:768px) and (max-width:1024px) {
  nav {
    background-color: #aa8c15;
    
  }
}
@media only screen and (min-width:481px) and (max-width:768px) {
  nav {
    background-color: #aa8c15;
    
  }
}
@media only screen and (min-width:320px) and (max-width:480px) {
  nav {
    background-color: #aa8c15;
    
  }
}