nav {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #aa8c15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#tw {
  color: #183153;
  font-family: Bungee;
  padding: 1.5em;
  font-size: 24px;
  /* margin: auto;
  float: left; */
  
}
#Write {
  color: #FFFFFF;
}

#newTw{
  
  color: #183153;
  font-size: 18px;
  /* float: right; */
  padding: 1.5em;
  /* margin: auto; */ */

}
#arrow {
  color: red;
  display: flex;
  justify-content: center;
}

